@import '../core/variables';
.detail {
  margin: 50px;
  font-family: 'Stick No Bills', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .paragraphDetail {
    font-size: $font-size;
    padding: 21px 0;
    @media (min-width: 700px) {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      font-size: $font-size-3;
    }
  }
  .sectionDetail {
    font-size: $font-size;
    @media (min-width: 700px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size-4;
    }

    .imgApiDetail {
      width: 175px;
      border-radius: 25px;
      padding: 20px;
      @media (min-width: 700px) {
        width: 250px;
        border-radius: 45px;
      }
    }
  }
  .nameDetail {
    margin: 10px 0 20px;
    color: $name;
    @media (min-width: 700px) {
      text-align: start;
      font-size: $font-size-2;
    }
  }
  .listDetail {
    @media (min-width: 700px) {
      text-align: end;
    }

    .liDetail {
      color: $detailsQuestion;
      margin: 5px 0;
      .liDetailsResponse {
        color: $detailsResponse;
      }
    }
  }
}
