@import '../core/variables';
.detail {
  margin: 0 20px;
  font-family: $family-bills;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 700px) {
    margin: 50px 20px 0 20px;
    font-size: $font-size-2;
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
    margin-top: 75px;
  }

  .paragraphDetail {
    font-size: $font-size;
    margin-bottom: 20px;
    @media (min-width: 700px) {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      font-size: $font-size-3;
    }
  }
  .sectionDetail {
    font-size: $font-size;
    margin: 0 auto 55px auto;
    @media (min-width: 700px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size-4;
      margin: 0 auto 55px auto;
    }

    .imgApiDetail {
      width: 175px;
      border-radius: 25px;
      @media (min-width: 700px) {
        width: 250px;
        border-radius: 45px;
      }
    }
    .divDetail {
      @media (min-width: 700px) {
        background-color: black;
        opacity: 0.8;
        border-radius: 30px;
        padding: 15px;
        margin-left: 100px;
      }
    }
  }
  .nameDetail {
    margin: 10px 0 20px;
    color: $name;
    @media (min-width: 700px) {
      text-align: end;
      font-size: $font-size-2;
    }
  }
  .listDetail {
    @media (min-width: 700px) {
      text-align: end;
    }

    .liDetail {
      color: $detailsQuestion;
      margin: 5px 0;
      .liDetailsResponse {
        color: $detailsResponse;
      }
    }
  }
}
