.header {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 20px;
  }
  .logo {
    transform: scale(40%);
    @media (min-width: 350px) {
      transform: scale(50%);
    }
    @media (min-width: 500px) {
      transform: scale(60%);
    }
    @media (min-width: 768px) {
      transform: scale(115%);
    }
  }
}
