* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.body {
  color: #fff;
  text-align: center;
  min-height: 100vh;

  background-image: linear-gradient(180deg, #48e45a, #1a4270 45%);
  box-sizing: border-box;
}
