.page {
  color: white;
  text-align: center;
  background-image: linear-gradient(to bottom, #48e45a, #1a4270 45%);
}

$font-size: 20px;
$font-size-2: 35px;
$font-size-3: 30px;
$font-size-4: 25px;

//colors
$name: #f7ef13;
$species: #db115b;
$detailsQuestion: #48e45a;
$detailsResponse: #f9055f;
